<!doctype html>
<html>
  <head>
    <title>index</title>
  </head>
  <body>
    <h1>欢迎您进入索引页</h1>

    <h3>secondhand站点</h3>
    <a href='/secondhand/'>进入SecondHand页面</a>
    <br>
    <a href='/secondhand/wordsub/'>进入关键词订阅页面</a>
    <br>
    <br>
    <br>

    <h3>Price and Chat Statistic for Bitcoin站点</h3>
    <a href='/prichat/xbtusd/'>进入bitcoin价格页面</a>
    <br>
    <a href='/prichat/ethusd/'>进入ethereum价格页面</a>
    <br>
    <a href='/prichat/chat/'>进入群组聊天内容页面</a>
    <br>
    <a href='/prichat/word/'>进入群组聊天关键词统计页面</a>
    <br>
    <a href='/prichat/group/'>进入群组聊天记录数量统计页面</a>
    <br>
    <br>
    <br>

    <h3>其它</h3>
    <a href='http://soundrain.net/'>进入作者博客</a>
    <br>
    <p>
    本站更新日志：<br>
    2019-01-19：删除secondhand项目移动版页面,在原页面适配移动版 by faninx<br>
    2019-01-15：为secondhand项目添加移动版页面<br>
    2019-01-11：为secondhand项目添加stage1st<br>
    2019-01-03：为secondhand项目添加蜂鸟和色影无忌<br>
    2018-12-27：恢复gfan数据抓取<br>
    2018-12-23：增加ethereum价格拉取并添加价格页面<br>
    2018-12-23：为secondhand项目添加KDS站点数据<br>
    2018-12-20：为secondhand项目添加8080,51NB和HIFIDIY站点；修改部分站点标签<br>
    2018-12-19：建立index页面<br>
    2018-12-18：为secondhand项目添加Right站点数据<br>
    2018-12-18：标记secondhand项目中失效站点<br>
    </p>
    <br>
  </body>
</html>
