<!doctype html>
<html>
  <head>
    <title>index</title>
  </head>
  <body>
    <h1>欢迎您进入索引页</h1>

    <h3>secondhand站点</h3>
    <a href='./secondhand/'>进入SecondHand页面</a>
    <br>
    <a href='./secondhand/wordsub/'>进入关键词订阅页面</a>
    <br>
    <a href='./secondhand/?keyword=customized'>进入作者订阅页面</a>
    <br>
    <br>
    <br>

    <h3>Price and Chat Statistic for Bitcoin站点</h3>
    <a href='./prichat/xbtusd/'>进入bitcoin价格页面</a>
    <br>
    <a href='./prichat/ethusd/'>进入ethereum价格页面</a>
    <br>
    <a href='./prichat/chat/'>进入群组聊天内容页面</a>
    <br>
    <a href='./prichat/word/'>进入群组聊天关键词统计页面</a>
    <br>
    <a href='./prichat/group/'>进入群组聊天记录数量统计页面</a>
    <br>
    <br>
    <br>

    <h3>其它</h3>
    <a href='http://blog.ruo.ink/'>进入作者博客</a>
    <br>
    <p>
    本站更新日志：<br>
    2020-01-14: 更新feng的采集方式应对其自2019年12月27日开始的改版，将多玩和宽带山加入invalideSite并停止采集<br>
    2019-07-21：将pyecharts从0.5升级到1.2，修复xbtusd和ethusd页面并增加get字段<br>
    2019-05-06：将django从1.11.20升级到2.2.1，支持python3开发<br>
    2019-05-05：为secondhand项目添加分页功能<br>
    2019-01-19：为secondhand项目添加多玩的ns,ps4和psv交易区<br>
    2019-01-19：删除secondhand项目移动版页面,在原页面适配移动版 by faninx<br>
    2019-01-15：为secondhand项目添加移动版页面<br>
    2019-01-11：为secondhand项目添加stage1st<br>
    2019-01-03：为secondhand项目添加蜂鸟和色影无忌<br>
    2018-12-27：恢复gfan数据抓取<br>
    2018-12-23：增加ethereum价格拉取并添加价格页面<br>
    2018-12-23：为secondhand项目添加KDS站点数据<br>
    2018-12-20：为secondhand项目添加8080,51NB和HIFIDIY站点；修改部分站点标签<br>
    2018-12-19：建立index页面<br>
    2018-12-18：为secondhand项目添加Right站点数据<br>
    2018-12-18：标记secondhand项目中失效站点<br>
    </p>
    <br>
  </body>
</html>
