<!DOCTYPE html>
<html lang="en">
<head>          
    <meta http-equiv="CONTENT-TYPE" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Chat</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
    <link rel="shortcut icon" type="image/png" href="/static/images/favicon.ico"/>
</head>         
<body>          
                
<form action="/prichat/chat" method="get">
    Group: {% for g in group_name %}
    <a href='/prichat/chat?group={{g}}'>{{g}}</a>&nbsp;&nbsp;
    {% endfor %}
    <br>
    Name: {% for n in user %}
    <a href='/prichat/chat?name={{n}}'>{{n}}</a>&nbsp;&nbsp;
    {% endfor %}
    <br>
    <input type="text" style="width: 500px;height:12px" name="keyword">
    <input type="Submit" value="Search Chat logs">

<table style="float:left" border="1">
    <td> AUTHOR </td>
    <td> GROUP </td>
    <td> TIME </td>
    <td> SOURCE </td> 
    {% for l in cl %}
        <tr> 
            <td>{{l.user|truncatechars:20}}</td>
            <td>{{l.group_name|truncatechars:20}}</td>
            <td>{{l.time|date:'Y-m-d H:i:s'}}</td>
            <td>{{l.content}}</a></td>                          
        </tr>
    {% endfor %}
</table>        
                
</body>         
</html>
