<!-- template/display/test.html -->
<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="CONTENT-TYPE" content="text/html; charset=utf-8">
    <title>Price</title>
    <link rel="shortcut icon" type="image/png" href="/static/images/favicon.ico"/>
    <a href='/prichat/xbtusd'>XBTUSD[BitMEX]</a>
    <a href='/prichat/ethusd'>ETHUSD[BitMEX]</a>
    <br>
    {% for jsfile_name in script_list %}
        <script src="{{ host }}/{{ jsfile_name }}.js"></script>
    {% endfor %}
</head>

<body>
  {{ myechart|safe }}
</body>

</html>
