<!-- template/display/test.html -->
<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="CONTENT-TYPE" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Word</title>
    <link rel="shortcut icon" type="image/png" href="/static/images/favicon.ico"/>
    {% for jsfile_name in script_list %}
        <script src="{{ host }}/{{ jsfile_name }}.js"></script>
    {% endfor %}
</head>

<body>

<form action="prichat/word" method="get">
{{ myechart|safe }}
</body>

</html>
