html,
:root {
    font-family: "Helvetica Neue", Helvetica, "Segoe UI", Roboto, Ubuntu, "DejaVu Sans", Arial, "PingFang SC", "Hiragino Sans GB", "Source Han Sans", "Microsoft YaHei UI", "Microsoft Yahei", "Heiti SC", sans-serif;
    font-size: 16px;
    color: #3D464D;
}
body {
    max-width: 1440px;
    margin: 0 auto;
}
body form {
    margin: 10px;
}
.searchbox {
    max-width: 600px;
    width: calc(100% - 260px) !important;
}
.stat {
    display: block;
    color: #7b8994;
    font-size: 14px;
    margin: 10px 0;
    float:left;
}
.top-bar {
    margin:10px 10px
}
.pagination-top {
    margin: 10px 0;
    float:right
}
.pagination-buttom {
    margin: 10px 10px 30px;
    float:right
}
table {
    border-collapse: collapse;
    width: 100%;
    border-top: 1px solid #e0e0e0 !important;
}
table, tr, td, th {
    border: none;
}
tr {
    border-bottom: 1px solid #e0e0e0;
}
th,td {
    padding: 6px 12px;
    height: 40px;
    text-align: left;
}
tbody tr:nth-child(odd) {
    background-color: #f7f9fa;
}
tbody tr:hover {
    background-color: #f4faff;
}
.tableTitle {
    width: 40%;
}
.tablePrice {
    width: 10%;
    max-width: 100px;
}
.tableAuthor {
    width: 20%;
    max-width: 200px;
}
a {
    text-decoration: none;
    color: #007ee5;
    cursor: pointer;
}
form input {
    margin-top: 10px;
    margin-bottom: 10px;
}
input[type=button] {
    color: #007ee5;
    border-color: #007ee5;
    background-color: white;
    background: -webkit-linear-gradient(white, #f4faff);
    background: linear-gradient(white, #f4faff);
    display: inline-block;
    padding: 7px 12px;
    font-weight: 600;
    line-height: 1.4;
    text-align: center;
    text-decoration: none;
    border: 1px solid currentColor;
    border-radius: 3px;
    cursor: pointer;
}
input[type=button]:hover {
    background: #f4faff;
}
input[type=button]:active {
    background: -webkit-linear-gradient(#f4faff, #e3f1fc);
    background: linear-gradient(#f4faff, #e3f1fc);
}
input[type=submit], button[type=submit] {
    display: inline-block;
    padding: 7px 12px;
    font-weight: 600;
    line-height: 1.4;
    text-align: center;
    text-decoration: none;
    border: 1px solid currentColor;
    border-radius: 3px;
    cursor: pointer;
    color: white;
    border-color: #0071ce;
    background-color: #007ee5;
    background: -webkit-linear-gradient(#007ee5, #0071ce);
    background: linear-gradient(#007ee5, #0071ce);
}
input[type=submit]:hover, button[type=submit]:hover {
    background: #007ee5;
}
input[type=submit]:active, button[type=submit]:active {
    background: #0071ce;
}
input[type=text] {
    -webkit-appearance: none;
    height: 34px !important;
    width: 100%;
    padding: 5px 7px;
    box-sizing: border-box;
    font-size: 13px;
    text-align: left;
    color: #47525d;
    border: 1px solid rgba(37, 40, 43, 0.2);
    border-radius: 3px;
    background-color: white;
    background-clip: padding-box;
}
input[type=text]:focus {
    border-color: #72b6ec;
    outline: 0;
}
input[type=text]:disabled {
    background-color: #f7f9fa;
}

.threadlist li {
    position: relative;
    border-bottom: 1px solid #d9d8d8;
    line-height: 80px;
    list-style-type:none; 
}

.threadlist .title {
    font-size: 48px;
    color: black;
    display: block;
    line-height: 60px;
    padding: 5px 10px;
}

.threadlist .info-left {
    float:left;
    color: #a5a5a5;
    font-size: 30px;
    padding: 1px 30px
}

.threadlist .info-middle {
    float:middle;
    color: #a5a5a5;
    font-size: 30px;
    padding: 1px 30px
}

.threadlist .info-right {
    float:right;
    color: #a5a5a5;
    font-size: 30px;
    padding: 1px 30px
}


/* Mobile */

@media (max-width: 600px) {
    .searchbox {
        max-width: 520px;
        width: calc(100% - 80px) !important;
    }
    tr:first-child {
        display: none;
    }
    tr td {
        float: left;
        height: auto;
    }
    .keylist tr td {
        float: none;
    }
    .tableTitle {
        width: calc(100vw - 98px);
        line-height: 24px;
        padding-top: 8px;
    }
    .tablePrice {
        width: 60px;
        line-height: 24px;
        padding-top: 8px;
        padding-left: 0;
        min-height: 24px;
    }
    .tableAuthor, .tableTime, .tableSource, .tableAuthor a, .tableSource a {
        color: #a0a0a0;
        font-size: 12px;
        line-height: 24px;
        padding-bottom: 8px;
    }
    .tableAuthor, .tableTime {
        width: calc(40% - 24px);
    }
    .tableSource {
        width: calc(20% - 24px);
    }
}
