<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="CONTENT-TYPE" content="text/html; charset=utf-8">
    <title>Flea Town(跳蚤屯)</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
    <link rel="shortcut icon" type="image/png" href="/static/images/favicon.ico"/>
</head>
<body>

<form action="/secondhand/" method="get">
      ValidSite:
      {% for w in validSite%}
        <input type="checkbox" name={{w}} value=1><a href='/secondhand/?{{w}}=1'>{{w}}</a>
      {% endfor %}
      <br>
      InvalidSite:
      {% for w in invalidSite%}
        <input type="checkbox" name={{w}} value=1><a href='/secondhand/?{{w}}=1'>{{w}}</a>
      {% endfor %}
      <br>
      <input type="button" value="Home Page" onclick="window.location.href='/'">
      <input type="text" style="width: 500px;height:12px" name="keyword">
      <input type="Submit" value="Search">
      <input type="button" value="订阅管理" onclick="window.location.href='/secondhand/wordsub/'">
      
      <br>
      <span>Details: [Return items:{{len_list}}] 
      [Server Time: {{server_time|date:'Y-m-d H:i:s'}} GMT+8]
      [Seller update time: {{seller_time|date:'Y-m-d H:i:s'}} GMT+8]</span>   
</form>


<table style="float:left" border="1">
    <td> AUTHOR </td>
    <td> PRICE </td>
    <td> TITLE </td>
    <td> TIME </td>
    <td> SOURCE </td> 
    {% for l in item_list %}
        <tr>
            <td><a href="/secondhand/?uname={{l.uname}}">{{l.uname|truncatechars:20}}</a></td>
            <td>{{l.ext2}}</td>
            <td><a href="{{l.url}}">{{l.title|truncatechars:50}}</a></td>
            <td>{{l.time|date:'Y-m-d H:i:00'}}</td>
            <td><a href="/secondhand/?{{l.webname}}=1">{{l.webname}}</a></td>
        </tr>
    {% endfor %}
</table>

</body>
</html>
