<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="CONTENT-TYPE" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Flea Town(跳蚤屯)</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
    <link rel="shortcut icon" type="image/png" href="/static/images/favicon.ico"/>
</head>
<body>

{% load add_get_parameter %}
<form action="./" method="get">
      ValidSite:
      {% for w in validSite%}
        <input type="checkbox" name={{w}} value=1><a href='./?{{w}}=1'>{{w}}</a>
      {% endfor %}
      <br>
      InvalidSite:
      {% for w in invalidSite%}
        <input type="checkbox" name={{w}} value=1><a href='./?{{w}}=1'>{{w}}</a>
      {% endfor %}
      <br>
      <div class="toolbar">
        <input type="button" value="Home Page" onclick="window.location.href='./'">
        <input type="button" value="Subscribe" onclick="window.location.href='./wordsub/'">
        <input type="text" name="keyword" class="searchbox">
        <input type="Submit" value="Search" class="searchbtn">
      </div>
</form>

<div class='top-bar'>
      <div>
        <span class='stat'>Details: [Return items:{{len_list}}] 
        [Server Time: {{server_time|date:'Y-m-d H:i:s'}} GMT+8]
        [Seller update time: {{seller_time|date:'Y-m-d H:i:s'}} GMT+8]</span>   
      </div>
      <div class="pagination-top">
        {% if item_list.has_previous %}
          <a href="{% add_get_parameter page=item_list.previous_page_number %}">上一页</a>
        {% endif %}
        <span class="current">
          第 {{ item_list.number }} 页 / 共 {{ item_list.paginator.num_pages }} 页
        </span>
        {% if item_list.has_next %}
          <a href="{% add_get_parameter page=item_list.next_page_number %}">下一页</a>
        {% endif %}
      </div>
</div>

<table>
    <tr>
        <th class="tableTitle"> TITLE </th>
        <th class="tablePrice"> PRICE </th>
        <th class="tableAuthor"> AUTHOR </th>
        <th class="tableTime"> TIME </th>
        <th class="tableSource"> SOURCE </th>
    </tr>
    {% for l in item_list %}
        <tr>
            <td class="tableTitle"><a href="{{l.url}}">{{l.title|truncatechars:50}}</a></td>
            <td class="tablePrice">{{l.ext2}}</td>
            <td class="tableAuthor"><a href="/secondhand/?uname={{l.uname}}">{{l.uname|truncatechars:20}}</a></td>
            <td class="tableTime">{{l.time|date:'Y-m-d H:i:00'}}</td>
            <td class="tableSource"><a href="/secondhand/?{{l.webname}}=1">{{l.webname}}</a></td>
        </tr>
    {% endfor %}
</table>

<div class="pagination-buttom">
  {% if item_list.has_previous %}
    <a href="{% add_get_parameter page=item_list.previous_page_number %}">上一页</a>
  {% endif %}
  <span class="current">
    第 {{ item_list.number }} 页 / 共 {{ item_list.paginator.num_pages }} 页
  </span>
  {% if item_list.has_next %}
    <a href="{% add_get_parameter page=item_list.next_page_number %}">下一页</a>
  {% endif %}
</div>

</body>
</html>
