<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="CONTENT-TYPE" content="text/html; charset=utf-8">
    <title>Date</title>

</head>
<body>
<form action="/search/" method="get">
      <input type="text" name="keywords">
        <input type="Submit" value="Search">
</form>

    <table>
        <td> SOURCE </td> 
        <td> PRICE </td>
        <td> TITLE({{len_list}})</td>
        <td> TIME </td>
        {% for l in item_list %}
            <tr>
                <td>{{l.webname}}</td>
                <td>{{l.ext2}}</td>
                <td><a href="{{l.url}}">{{l.title|truncatechars:75}}</a></td>
                <td>{{l.time|date:'Y-m-d H:i:00'}}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>
